.side-bar {
  max-width: $nav-width;
}

.main {
  margin-left: $nav-width;
}

.site-nav {
  padding-top: 1rem;
}

.nav-list .nav-list-item {
  font-size: 14px;
  
  .nav-list-link {
    color: $grey-dk-100;
    
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
} 